.list {
    overflow-y: scroll;
    height: 50rem;
}


.listButton {
    background: none;
	color: inherit;
	border: none;
	padding: 32px;
	font: inherit;
	cursor: pointer;
    outline: inherit;

}


.insideButton {
    display: flex;
    align-items: center;
    width: 800px;
}

.insideButton div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 4%;

}


@media only screen and (max-width: 700px) {
    .insideButton {
        flex-direction: column;
    }
    .title {
        font-size: 1.5rem;
    }
}

strong {
    font-size: 1.5rem;
    color: #5a5a5a;
}

p {
    color: #989595;
}

.item {
    padding: 10px;
}

.item button {
    background-color: #5a5a5a;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    margin-left: 3%;
    font-weight: bold;
    
}

#button1, #button6, #button11, #button16, #button21 {
    background-color: #c23b23;
    color: #fff;
}

#button2, #button7, #button12, #button17, #button22 {
    background-color: #f39a27;
    color: #fff;
}

#button3, #button8, #button13, #button18, #button23 {
    background-color: #eada52;
    color: #fff;
}

#button4, #button9, #button14, #button19, #button24 {
    background-color: #9bc53d;
    color: #fff;
}

#button5, #button10, #button15, #button20, #button25 {
    background-color: #03c03c;
    color: #fff;
}

.disabledTeam {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.disabledTeam p {
    font-size: 1.4rem;
    font-weight: bold;
}

